<footer class="footer" style="background: #013c7e;">
  <div class="content-width">
    <div class="footer__aside">
      <img src="../img/bottom_log.png" alt="">
    </div>
    <div class="footer__content">
      <p class="footer__product">
        <a href="#" class="footer__product-item">产品名称</a>
        <a href="#" class="footer__product-item">产品名称</a>
        <a href="#" class="footer__product-item">产品名称</a>
        <a href="#" class="footer__product-item">产品名称</a>
        <a href="#" class="footer__product-item">产品名称</a>
        <a href="#" class="footer__product-item">产品名称</a>
        <a href="#" class="footer__product-item">产品名称</a>
      </p>
      <div class="footer__address">
        <p><span style="margin-right: 88px;">联系电话：159-6817-6000</span>销售热线：0571-88543755</p>
        <p><span style="margin-right: 88px;">销售热线：0571-88543756</span>邮 箱：363130390@qq.com</p>
        <p>地 址：浙江省杭州市余杭区仁和街道北辰金座611、612室</p>
      </div>
      <div>
        <p>Copyright © 2016  杭州科沃流体设备有限公司  All Rights Reserved</p>
        <p>浙ICP备16007176号    技术支持：三汉网络</p>
      </div>
    </div>
  </div>
</footer>
